<!DOCTYPE html>
<html>
<head>
  <title>Rbg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:error] %>
<%=	flash[:error] %>
<%	end %>
<% if flash[:message] %>
<%= flash[:message] %>
<% end %>
<%= yield %>

</body>
</html>
